<div class="main posts-new">
    <div class="container">
        <h1 class="form-heading">投稿する</h1>
        <%= form_with url: posts_create_path do |form| %>
            <div class="form">
                <div class="form-body">
                    <% @post.errors.full_messages.each do |message| %>
                        <div class="form-error">
                            <%= message %>
                        </div>
                    <% end %>
                    <%= form.label :content %><br>
                    <%= form.text_area :content, value: @post.content %>
                    <%= form.submit %>
                </div>
            </div>
        <% end %>
    </div>
</div>
